* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(
    309deg,
    rgb(92, 122, 167) 0%,
    rgb(255, 255, 255) 45%,
    rgb(82, 112, 157) 100%
  );
  min-height: 100vh;
}

html.dark {
  background: linear-gradient(
    299deg,
    rgba(11, 14, 19, 1) 0%,
    rgba(58, 77, 105, 1) 48%,
    rgba(11, 14, 19, 1) 100%
  );
  color: white;
}
#menu-modal {
  background: linear-gradient(
    309deg,
    rgb(92, 122, 167) 0%,
    rgb(255, 255, 255) 45%,
    rgb(82, 112, 157) 100%
  );
  color: black;
}

html.dark #menu-modal {
  background: linear-gradient(
    299deg,
    rgba(11, 14, 19, 1) 0%,
    rgba(58, 77, 105, 1) 48%,
    rgba(11, 14, 19, 1) 100%
  );
  color: white;
}

html #moon-icon {
  display: none;
}

html.dark #sun-icon {
  display: none;
}

html.dark #moon-icon {
  display: block;
}

.start-text {
  color: #141927;
}
html.dark .vision-text {
  color: #04fbd6;
}
html.dark .start-text {
  color: white;
}

html {
  font-size: 16px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 16px;
  }
}

.fly-in {
  opacity: 0;
  animation: flyIn 0.5s forwards;
}

@keyframes flyIn {
  to {
    opacity: 1;
  }
}
