---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = await Astro.glob('../posts/*.md');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
const pageTitle = 'Tag Index';
const pageDescription = 'All tags used in blog posts on this site.';
---

<BaseLayout pageTitle={pageTitle} pageDescription={pageDescription}>
  <section class="min-h-screen">
    <h2 class="pt-32 pb-16">Blog post tags</h2>
    <div class="flex flex-wrap gap-4">
      {
        tags.map((tag) => (
          <a href={`/tags/${tag}`}>
            <p class=" bg-white border border-black text-black px-4 py-1 rounded-xl hover:bg-gray-200 duration-300">
              {tag}
            </p>
          </a>
        ))
      }
    </div>
  </section>
</BaseLayout>
