---

---

<div class="flex justify-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="3rem"
    height="3rem"
    viewBox="0 0 24 24"
    fill="none"
    stroke="currentColor"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-chevron-down animate-bounce"
    ><path d="m6 9 6 6 6-6"></path></svg
  >
</div>

<!-- <style>
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  #chevron-down {
    animation: fade-out 1s ease-in-out linear;
    animation-timing-function: view(50%, 70%);
  }
</style> -->
