---

---

<footer
  class="flex flex-col md:flex-row bg-[#1a212e] p-4 gap-4 md:gap-12 w-screen min-h-32 text-sm items-center px-4 sm:px-16 md:px-24 lg:px-32 text-white"
>
  <p>contact-marco@test.test</p>
  <p>Web Developer</p>
  <p>copyright 2024 Marco Rosenbaum</p>
</footer>
