---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import LanguageSelector from './LanguageSelector';
---

<header>
  <div
    class="fixed top-0 left-0 right-0 flex justify-between items-center backdrop-blur-md bg-gray-500/40 dark:bg-gray-400/30 px-4 sm:px-16 md:px-24 lg:px-32 py-4 border-b border-accent-color"
  >
    <div class="flex gap-4 items-center">
      <ThemeIcon />
      <!-- <LanguageSelector client:only /> -->
    </div>

    <Navigation />
  </div>
</header>
