---
import Navigation from './Navigation.astro';

import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <div
    class="fixed top-0 left-0 right-0 flex justify-between backdrop-blur-md bg-gray-400/30 px-16 py-4 border-b border-accent-color"
  >
    <ThemeIcon />
    <Navigation />
  </div>
</header>
