---
import Menu from './Menu';
const currentUrl = Astro.url.pathname;
---

<div class="">
  <div class="gap-6 hidden md:!flex">
    <a
      href="/"
      class=`${currentUrl=== "/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the home page">Home</a
    >

    <a
      href="/projects"
      class=`${currentUrl=== "/projects"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the Projects page">Projects</a
    >
    <a
      href="/blog"
      class=`${currentUrl=== "/blog"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the blog page">Blog</a
    >
    <a
      href="/tags/"
      class=`${currentUrl=== "/tags/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the tags page">Tags</a
    >
  </div>
  <Menu client:only="react" />
</div>
