---
const currentUrl = Astro.url.pathname;
---

<div>
  <div class="gap-6 hidden md:!flex">
    <a
      href="/"
      class=`${currentUrl=== "/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the home page">Home</a
    >

    <a
      href="/projects"
      class=`${currentUrl=== "/projects"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the Projects page">Projects</a
    >
    <a
      href="/blog"
      class=`${currentUrl=== "/blog"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the blog page">Blog</a
    >
    <a
      href="/tags/"
      class=`${currentUrl=== "/tags/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the tags page">Tags</a
    >
  </div>
  <button
    aria-label="Open the menu"
    class="flex md:!hidden"
    id="show-menu-button"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-menu"
    >
      <line x1="4" x2="20" y1="12" y2="12"></line>
      <line x1="4" x2="20" y1="6" y2="6"></line>
      <line x1="4" x2="20" y1="18" y2="18"></line>
    </svg>
  </button>

  <div
    id="menu-modal"
    class="fixed top-0 bottom-0 right-0 flex flex-col justify-center items-center h-screen w-screen translate-x-[100%] duration-300 sm:w-1/2"
  >
    <nav class="flex flex-col text-xl gap-10">
      <button class="p-4 text-sm absolute top-0 right-0" id="hide-menu-button">
        close menu
        {/* <X size={'2.5rem'} /> */}
      </button>
      <a
        href="/"
        aria-label="Navigate to the home page"
        class={'flex gap-6 items-center'}
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-house"
          ><path d="M15 21v-8a1 1 0 0 0-1-1h-4a1 1 0 0 0-1 1v8"></path><path
            d="M3 10a2 2 0 0 1 .709-1.528l7-5.999a2 2 0 0 1 2.582 0l7 5.999A2 2 0 0 1 21 10v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
          ></path></svg
        >
        Home
      </a>

      <a
        href="/projects"
        aria-label="Navigate to the project page"
        class={'flex gap-6 items-center'}
      >
        {/* <SquareUserRound size={'2.5rem'} /> */}
        Projects
      </a>

      <a
        href="/"
        aria-label="Navigate to the blog page"
        class={'flex gap-6 items-center'}
      >
        {/* <CalendarDays size={'2.5rem'} /> */}
        Blog
      </a>
    </nav>
  </div>
</div>
