---
const currentUrl = Astro.url.pathname;
import MenuModal from './MenuModal.astro';
---

<div>
  <div class="gap-6 hidden md:!flex">
    <a
      href="/"
      class=`${currentUrl=== "/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the home page">Home</a
    >

    <a
      href="/projects"
      class=`${currentUrl=== "/projects"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the Projects page">Projects</a
    >
    <a
      href="/blog"
      class=`${currentUrl=== "/blog"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the blog page">Blog</a
    >
    <a
      href="/tags/"
      class=`${currentUrl=== "/tags/"? "border-b border-accent-color": ""} flex gap-2`
      aria-label="Navigate to the tags page">Tags</a
    >
  </div>
  <button
    aria-label="Open the menu"
    class="flex md:!hidden"
    id="show-menu-button"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-menu"
    >
      <line x1="4" x2="20" y1="12" y2="12"></line>
      <line x1="4" x2="20" y1="6" y2="6"></line>
      <line x1="4" x2="20" y1="18" y2="18"></line>
    </svg>
  </button>

  <MenuModal />
</div>
