---
import CssLogo from '../assets/logos/CssLogo';
import TailwindLogo from '../assets/logos/TailwindLogo';
import JavaScriptLogo from '../assets/logos/JavaScriptLogo';
import TypeScriptLogo from '../assets/logos/TypeScriptLogo';
import VueLogo from '../assets/logos/VueLogo';
import ReactLogo from '../assets/logos/ReactLogo';
import NextLogo from '../assets/logos/NextLogo';
import FirebaseLogo from '../assets/logos/FirebaseLogo';
import NodeLogo from '../assets/logos/NodeLogo';

const skills = [
  { name: 'CSS', logo: CssLogo },
  { name: 'Tailwind', logo: TailwindLogo },
  { name: 'JavaScript', logo: JavaScriptLogo },
  { name: 'TypeScript', logo: TypeScriptLogo },
  { name: 'Node', logo: NodeLogo },
  { name: 'Vue', logo: VueLogo },
  { name: 'React', logo: ReactLogo },
  { name: 'Next', logo: NextLogo },
  { name: 'Firebase', logo: FirebaseLogo },
];
---

<div class="flex gap-8 flex-wrap">
  {
    skills.map((skill, index) => (
      <div
        class={` flex flex-col flex-1 items-center`}
        style={{ animationDelay: `${0.7 + index * 0.1}s` }}
      >
        <skill.logo />
        <div>{skill.name}</div>
      </div>
    ))
  }
</div>

<style>
  .appear {
    opacity: 0;
    animation: appear 0.5s forwards;
  }

  @keyframes appear {
    to {
      opacity: 1;
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
</style>
