---
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout>
  <section class="py-32">
    <div class="max-w-[40rem] text-justify flex flex-col gap-4 mx-auto">
      <div class="tags flex gap-4">
        {
          frontmatter.tags.map((tag: any) => (
            <a href={`/tags/${tag}`}>
              <p class="flex gap-4 bg-white border border-black text-black px-4 py-1 rounded-xl ">
                {tag}
              </p>
            </a>
          ))
        }
      </div>
      <p>Written by {frontmatter.author}</p>
      <p>{frontmatter.pubDate}</p>
      <slot />
    </div>
  </section>
</BaseLayout>
<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.5em 1em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
